@use "global" as *;

.about {}

.about__inner {
    width: 100%;

    @include mq("md") {
        padding-bottom: 40px;
        max-width: rem(1080);
        width: 100%;
    }
}

.about__header {}

.about__main {
    text-transform: none;
}

.about__sub {}

.about__wrapper {
    margin-top: rem(24);
    position: relative;

    @include mq("md") {
        margin-top: rem(40);
    }
}

.about__images {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include mq("md") {
        justify-content: initial;
    }
}



.about__backgroundImage01 {
    width: 38%;
    // position: absolute;
    z-index: 2;
    margin-bottom: rem(18);

    @include mq("md") {
        margin-bottom: rem(55);
    }
}

.about__backgroundImage01 img {
    aspect-ratio: 186 / 280;
    object-fit: cover;
    width: 100%;
    height: 100%;


    @include mq("md") {
        aspect-ratio: 400 / 606;
    }
}

.about__backgroundImage02 {
    width: 83%;
    margin-left: rem(-200);
    

    @include mq("md") {

    }
}

.about__backgroundImage02 img {
    object-fit: cover;
    aspect-ratio: 280 / 186;
    width: 100%;

    @include mq("md") {
        aspect-ratio: 880 / 580;
    }
}

.about__wrapper::after {

    @include mq("md") {
        position: absolute;
        content: "";
        right: calc(50% - min(48vw, rem(650)));
        bottom: rem(-70);
        // top: 95%;
        // transform: translate(-5%, -32%);
        display: inline-block;
        background-image: url(/assets/images/common/about-us3.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 18.5%;
        height: 27%;
    }
}

.about__wrapper-inner {
    margin-top: rem(40);

    @include mq("md") {
        max-width: rem(840);
        width: 100%;
        position: absolute;
        top: 45%;
        left: 57%;
        transform: translate(-50%, -50%);
        z-index: 2;
        margin-top: 0;
    }
}

.about__texts {
    color: $green;

    @include mq("md") {
        display: flex;
        align-items: center;
    }
}

.about__subtitle {
    font-size: rem(40);
    z-index: 1;
    font-weight: $regular;
    line-height: 1;
    font-family: $english-font-family;

    @include mq("md") {
        font-size: rem(80);
        color: $white;
        font-weight: $regular;
        line-height: 1.25;
        max-width: rem(400);
        width: 100%;
    }
}

.about__text-button {
    text-align: center;

    @include mq("md") {
        margin-left: rem(42);
        margin-top: rem(40);
    }
}

.about__text {
    text-align: left;
    font-size: rem(16);
    font-weight: $regular;
    line-height: 1.5;
    color: $green-text;


    @include mq("md") {
        color: $white;
        max-width: rem(400);
    }
}

.about__text h3 {
}


.about__button {
    margin-top: rem(40);
}