@use "global" as *;

.blog {

}

.blog__wrapper{
    margin-top: rem(52);
    @include mq("md") {
        margin-top: rem(150);
        display: grid;
        grid-template-columns: 65% 27%;
        gap: rem(80);
    }
}

.blog__side {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width:clamp(18.375rem, 11.42rem + 34.77vw, 37.5rem);
    @include mq("md") {
        max-width: rem(294);
        
    }
}

.blog__popular{
    margin-top: rem(80);
    @include mq("md") {
        margin-top: 0;
    }
}


.blog__reviews {
    margin-top: rem(80);
    @include mq("md") {
        margin-top: rem(95);
        
    }
}


.blog__campaign {
    margin-top: rem(60);
    // width: clamp(18.375rem, 12.523rem + 24.97vw, 31.25rem);
}

.blog__archive {
    margin-top: rem(80);
}

