@use "global" as *;

.contact {
    text-align: center;
    background-position: right 9px top 56px;
    background-repeat: no-repeat;
    background-size: 31%;

    @include mq("md") {
        text-align: center;
        background-position: right 58px top 101px;
        background-repeat: no-repeat;
        background-size: 20%;
    }
}

.contact__inner {}

.contact__wrapper {
    margin: auto;
    position: relative;

    @include mq("md") {
        display: flex;
        align-items: center;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
        width: 100%;
        max-width: 1080px;
        justify-content: space-around;
        padding-top: rem(80);
        padding-bottom: rem(80);

    }
}

.contact__wrapper::after {
    content: "";
    position: absolute;
    background-image: url(/assets/images/common/contact-fish.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    right: -2%;
    width: 33.777778%;
    height: 20%;
    top: -10%;

    @include mq("md") {
        height: 30%;
        right: calc(50% - min(49vw, rem(638)));
        top: -9%;
        width: min(21vw, 25%);
    }
}

.contact__address {
    @include mq("md") {
        width: 48%;
    }
}

.contact__form {
    padding-top: rem(15);
    padding-bottom: rem(15);

    @include mq("md") {
        width: 46%;
        display: grid;
        grid-gap: 90px;
        border-left: 1px solid #408F95;

    }
}

.contact__header {
    margin-top: rem(56);
    line-height: 1;

    @include mq("md") {
        margin-top: rem(2);
    }
}

.contact__button {
    text-align: center;
    margin-top: rem(44);

    @include mq("md") {
        margin-top: rem(-53);
    }
}