@use "global" as *;

.contact-layout {
    margin-top: rem(80);

    @include mq("md") {
        margin-top: rem(140);
    }
}

.contact-layout--lower {
    margin-top: rem(104);
}

.contact-layout--side {
    margin-top: rem(105);
}


.contact-layout--siteMap {
    margin-top: rem(95);
    @include mq("md") {
        margin-top: rem(105);
    }
}
