@use "global" as *;

.information-body {}

.information-body__wrapper {
    position: relative;


}

.information-body__wrapper::before {
    background-image: url(/assets/images/common/campaign-fish.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    width: 7.5rem;
    top: -16%;
    height: 9%;
    @include mq("md") {
        top: 6%;
        height: 8%;
    }
}



.information-body__tab {
    margin-top: rem(121);

    @include mq("md") {
        margin-top: rem(150);
    }
}