@use "global" as *;

.information-body {}

.information-body__wrapper {
    position: relative;


}

.information-body__wrapper::before {
    background-image: url(/assets/images/common/campaign-fish.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    width: 7.5rem;
    top: -15%;
    height: 9%;
    left: calc(50% - min(48.5vw, 39rem));

    @include mq("md") {
        height: 30%;
        top: -16%;
        // left: -7%;
        width: 28%;
    }
}



