@use "global" as *;

.layout-information {
    margin-top: rem(77);
    padding-top: rem(80);
    padding-bottom: rem(80);

    @include mq("md") {
        margin-top: rem(100);
        padding-top: rem(88);
        padding-bottom: rem(91);
    }
}