@use "global" as *;

.top-price {
    background-color: $green-bg;
    padding-top: rem(80);
    padding-bottom: rem(84);

    @include mq("md") {
        background-position: 10% 97%;
        background-repeat: no-repeat;
        background-size: 30% 18%;
        padding-top: rem(100);
        padding-bottom: rem(100);
    }
}

.top-price__inner {}

.top-price__wrapper {
    margin-top: rem(30);
    width: 100%;

    @include mq("md") {
        display: flex;
        flex-direction: row-reverse;
        margin-top: rem(40);
        width: 100%;
        position: relative;
    }
}

.top-price__image {
    overflow: hidden;
    width: 100%;

    @include mq("md") {
        margin-left: rem(90);
    }
}

.top-price__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-price__body {
    width: 100%;
    color: $green-text;
    position: relative;
    margin-top: rem(40);

    @include mq("md") {
        margin-top: 0;
    }
}

.top-price__body::after {
    @include mq("md") {
        background-image: url(/assets/images/common/price-bg.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 26%;
        left: calc(50% - min(46.5vw, 20rem));
        position: absolute;
        bottom: -23%;
        width: rem(430);
        width: clamp(20.875rem, 14.018rem + 14.29vw, 26.875rem);
        left: calc(50% - min(22.5vw, 30rem));
    }
}

.top-price__body dl {
    margin-top: rem(2);
    width: 100%;
    display: grid;
    grid-template-columns: 86% 13%;
}

.top-price__license {
    width: 100%;
}

.top-price__wrap {}

.top-price__category {
    font-size: rem(16);
    font-weight: $bold;
    border-bottom: 1px solid $green;
    padding-bottom: rem(2);
    line-height: 1.5;
    text-align: left;
    margin-top: rem(45);
    display: block;

    @include mq("md") {
        margin-top: rem(37);
    }
}

.top-price__category:first-child {
    margin-top: 0;

    @include mq("md") {
        margin-top: 0;
    }
}

.price__top-price__category th {
    margin-top: 40px;
}

.top-price__head {
    // width: calc(100% - min(24vw, 195px));
    font-size: rem(14);
    font-weight: $regular;
    line-height: 1.71429;
    text-align: left;
    max-width: rem(253);
    display: inline-block;
    margin-top: rem(6);

    @include mq("md") {
        // width: calc(100% - min(15vw, 195px));
        font-size: rem(16);
        max-width: rem(300);
        line-height: 1.5;
    }
}

.top-price__price {
    font-size: rem(14);
    font-weight: $regular;
    line-height: 1.71429;
    text-align: right;
    display: inline-block;

    @include mq("md") {
        font-size: rem(16);
        // width: 34%;
        display: inline-block;
    }
}

.top-price__background {
    max-width: rem(436);
    width: calc(440 / 1440)*100%;
    position: relative;
    left: calc(50% - min(48vw, 610px));
}

.top-price__background img {
    position: absolute;
    width: 100%;
    height: auto;
}

.price__button {
    text-align: center;
    margin-top: rem(47);

    @include mq("md") {
        margin-top: rem(78);
    }
}