@use "global" as *;

.tab {}


.tab__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: rem(20);

    @include mq("md") {
        column-gap: rem(90);
    }
}

.tab__item1,
.tab__item2,
.tab__item3 {
    background-color: $green-bg;
    padding: rem(10) rem(15);
    align-items: center;
    font-size: rem(14);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;
    color: $green;
    text-align: center;

    @include mq("md") {
        padding: rem(26) min(1.4vw, 1.25rem);
        font-size: rem(24);
        position: relative;
        text-align: right;

    }
}

.tab__item1::before,
.tab__item2::before,
.tab__item3::before {
    @include mq("md") {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: rem(64);
        height: auto;
        width: 4.5rem;
        height: 4.5rem;
        // left: rem(20);
        left: clamp(0.188rem, -2.313rem + 3.13vw, 1.5rem);
        top: rem(7);
    }
}

.tab__item1::before {
    @include mq("md") {
        background-image: url(/assets/images/common/tab1-.svg);
    }
}

.tab__item2::before {
    @include mq("md") {
        background-image: url(/assets/images/common/tab2.svg);
    }

}

.tab__item3::before {
    @include mq("md") {
        background-image: url(/assets/images/common/tab3.svg);
    }
}



.tab__item1.active,
.tab__item2.active,
.tab__item3.active {
    background-color: $green;
    color: $green-bg;
}

.tab__item1.active::before {
    @include mq("md") {
        background-image: url(/assets/images/common/tab-icon-active1.svg);
    }
}

.tab__item2.active::before {
    @include mq("md") {
        background-image: url(/assets/images/common/tab-icon-active2--.svg);
    }
}

.tab__item3.active::before {
    @include mq("md") {
        background-image: url(/assets/images/common/tab-icon-active3.svg);
    }

}

.tab-head {
    position: relative;
}

.tab__contents {
    margin-top: rem(10);

    @include mq("md") {
        margin-top: rem(24);
    }
}

.tab__contents-item {
    display: none;
    opacity: 0;
    transition: opacity 0.8s;
    /* フェードインにかける時間を調整 */
}

.tab__contents-item.show {
    display: block;
    opacity: 1;
}

.tab__inner {
    margin-top: rem(15);
    @include mq("md") {
        margin-top: 0;
    }
}

.tab__body {
    border: 1px solid $green;
    padding: rem(22) rem(24);

    @include mq("md") {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: rem(48);
    }
}

.tab__wrap {
    margin: auto;
}

.tab__title {
    font-weight: $bold;
    line-height: 1.4;
    border-bottom: 1px solid $green;

    @include mq("md") {
        font-size: rem(24);
        font-style: normal;
        font-weight: $normal;
    }
}

.tab__text {
    margin-top: rem(8);
}

.tab__image {
    margin-top: rem(9);

    @include mq("md") {
        margin-top: 0;
    }
}