@use "global" as *;

.top-about {}

.top-about__inner {
    width: 100%;

    @include mq("md") {
        max-width: rem(1080);
        width: 100%;
    }
}



.top-about__wrapper::after {

    @include mq("md") {
        position: absolute;
        content: "";
        right: calc(50% - min(48vw, rem(650)));
        bottom: rem(-70);
        display: inline-block;
        background-image: url(../images/common/about-us3.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 18.5%;
        height: 27%;
    }
}