@use "global" as *;

.top-blog {
    padding-top: rem(75);

    @include mq("md") {
        position: relative;
        padding-top: rem(97);
    }
}

.top-blog__backgroundImage {
    z-index: -1;
    position: absolute;
    top: 0;
    max-height: rem(500);
}


.top-blog__backgroundImage img {
    max-height: inherit;
    display: inline-block;

}

.top-blog::after {
    @include mq("md") {
        position: absolute;
        content: "";
        background-image: url(/assets/images/common/blog-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 60%;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -2;
    }
}

.top-blog__cards::before {
    @include mq("md") {
        position: absolute;
        content: "";
        background-image: url(/assets/images/common/blog-bg-fish1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 20% center;
        height: 25%;
        top: rem(31);
        z-index: -1;
        height: 24%;
        width: 28%;
        left: 7%;
    }
}

.top-blog__inner {}

.top-blog__bg {}

.top-blog__header.section-header {

    @include mq("md") {
        color: $white;

    }
}

.top-blog__header.section-header::first-letter {
    @include mq("md") {
        color: $white;
    }
}


.top-blog__sub.section-header__sub {
    @include mq("md") {
        color: $white;
    }
}


.top-blog__cards {
    margin-top: rem(29);

    @include mq("md") {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5rem;
        flex-wrap: wrap;
        margin-top: rem(80);
        justify-content: center;
    }
}

.top-blog__card {
    background: $white;

    @include mq("md") {
        width: 100%;
        display: block;
    }
}

// .top-blog-card+.top-blog-card {
//     @include mq("md") {
//         margin-left: rem(40);
//     }
// }

// .top-blog__card.top-blog-card:nth-of-type(3n+1) {
//     @include mq("md") {
//         margin-left: 0;
//     }
// }

.top-blog__card.top-blog-card:nth-of-type(n+4) {
    @include mq("md") {
        margin-top: 34px;
    }
}


.top-blog__card:not(:first-child) {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: 0;
    }

}

.top-blog-card__body {}

.top-blog__button {
    text-align: center;
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}