@use "global" as *;

.top-campaign-layout {
    margin-top: rem(38);

    @include mq("md") {
        margin-top: rem(110);
        
        @-moz-document url-prefix() {
            margin-top: 10.875rem;
        }
    }
}
