@use "global" as *;

.voice {
    position: relative;


    @include mq("md") {

    }

}

.voice__inner {
    position: relative;
    padding-bottom: rem(80);

    @include mq("md") {
        padding-top: rem(262);
        padding-bottom: rem(135);
    }
}

.voice::before {

    @include mq("md") {
        content: "";
        position: absolute;
        background-image: url(/assets/images/common/voice-bg-group.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 84%;
        right: 5%;
        top: 15%;
        width: 90%;
    }
}


.voice__inner::after {}


.voice__header {}

.voice__content {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(44);
        display: flex;
        flex-wrap: wrap;
    }
}

.voice__card {
    margin-right: auto;
    margin-left: auto;

    @include mq("md") {
        max-width: calc(50% - 40px * 1 / 2);
        width: 100%;
        display: block;
    }
}

.voice__card+.voice__card {
    margin-top: rem(40);

    @include mq("md") {
        margin-left: rem(40);
        margin-top: 0;
    }
}

.voice__card.voice-card:nth-of-type(2n+1) {
    @include mq("md") {
        margin-left: 0;
    }
}

.voice__card.voice__card.voice-card:nth-of-type(n+3) {
    @include mq("md") {
        margin-top: rem(40);
    }
}

.voice__button {
    text-align: center;
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}