@use "global" as *;

// サンクスページのフッター下の余白を埋めるため
.wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


.wrap--bg-green {
    background-color: $green;
}