@use "global" as *;

.accordion {
    max-width: rem(700);
    width: 100%;
}

.accordion__title {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: rem(16);
    background-color: $green;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: $regular;
    line-height: normal;
    padding-right: rem(58);
    position: relative;

    @include mq("md") {
        font-size: rem(20);
        padding-top: rem(26);
        padding-bottom: rem(26);
        padding-left: rem(40);
        padding-right: rem(92);
    }
}

.accordion__content {
    display: none;
    padding: rem(24) rem(16) rem(23);
    border: 1px solid $green;

    @include mq("md") {
        margin-top: rem(16);
        padding: rem(38);
    }
}

.accordion__content p {
    font-weight: $regular;
    font-style: normal;
    line-height: 1.44;
}

.accordion__item:not(:first-child) {
    margin-top: rem(42);
}

.accordion__title {
    position: relative;
}

// 縦棒
.accordion__title::after {
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-50%);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    background-color: $white;
    width: 1px;
    height: rem(28);
    top: 50%;
    right: 30px;

    @include mq("md") {
        top: 50%;
        right: rem(55);
        height: rem(32);
        transform: translateY(-50%);
    }
}

.accordion__title.open::after {
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

// 横棒
.accordion__title::before {
    position: absolute;
    content: "";
    background-color: $white;
    height: 1px;
    top: 50%;
    width: rem(28);
    right: 17px;
    transform: translateY(-50%);

    @include mq("md") {
        width: rem(32);
        right: rem(40);
    }
}

.accordion__title.open::before {
    transform: translateY(-50%) rotate(0deg);
    transition: transform .3s;
}