@use "global" as *;

.blog-cards {
    
}

.blog-cards__card {
    background: $white;

    @include mq("md") {
        width: 100%;
        display: block;
    }
}


.blog-cards__card.blog-card:nth-of-type(n+4) {
    @include mq("md") {
        margin-top: 34px;
    }
}


.blog-cards__card:not(:first-child) {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: 0;
    }

}


.blog-card--opacity1.blog-cards__card a:hover img{
    opacity: 1;
}