@use "global" as *;

.blog-body {
    position: relative;
}

.blog-body::before {
    background-image: url(/assets/images/common/campaign-fish.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    width: 7.5rem;
    top: -0.5%;
    height: 1%;
    left: calc(50% - min(48.5vw, 39rem));

    @include mq("md") {
        top: -4%;
        height: 8%;
        width: 19.5rem;
    }
}

.blog-body__inner {
    @include mq("md") {
        display: grid;
        grid-template-columns: 65% 27%;
        gap: rem(80);
    }
}

.blog-body__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(40);

    @include mq("md") {
        grid-template-columns: 1fr 1fr;
        column-gap: rem(40);
        row-gap: rem(80);
    }
}

.blog-body__card {
    background-color: $white;
    z-index: 1;

}

.blog-body__side {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width:clamp(18.375rem, 11.42rem + 34.77vw, 37.5rem);

    @include mq("md") {
        max-width: rem(294);
    }
}

.blog-body__popular{
    margin-top: rem(80);
    @include mq("md") {
        margin-top: 0;
    }
}

.blog-body__reviews {
    margin-top: rem(80);

    @include mq("md") {
        margin-top: rem(95);
    }
}

.blog-body__campaign {
    margin-top: rem(60);
}

.blog-body__archive {
    margin-top: rem(80);
}
