@use "global" as *;

.blog-mv {
    
}

.blog-mv__title {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    color: $white;
    font-family: Lato;
    font-size: rem(40);
    font-style: normal;
    font-weight: $regular;

    @include mq("md") {
        font-size: rem(80);
        line-height: 1;
        top: 22%;
    }
}

.blog-mv__inner {
    position: relative;
}

.blog-mv__image {
    @include mq("md") {
        height: 548px;
    }
}
.blog-mv__image picture img {
    @include mq("md") {
        height: rem(548);
    }
}

.blog__wrapper {}

.blog__main {}