@use "global" as *;



.blog-page-body {}

.blog-page-body__inner {
    @include mq("md") {
        grid-gap: 5rem;
        display: grid;
        gap: rem(85);
        grid-template-columns: 65% 27%;
    }
}

.blog-page-body__main {
    position: relative;
}

.blog-page-body__main::before {
    background-image: url(/assets/images/common/campaign-fish.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 5%;
    position: absolute;
    top: -2%;
    width: 7.5rem;

    @include mq("md") {
        height: 8%;
        position: absolute;
        top: -4%;
        width: 18.5rem;
        left: -11%;
    }
}

.blog-page-body__date {
    font-family: Gotu;
    font-size: rem(14);
    font-style: normal;
    font-weight: $regular;
}

.blog-page-body__title {
    font-size: rem(24);
    font-style: normal;
    font-weight: $normal;
    line-height: normal;
    border-bottom: 1px solid $green;
    padding-bottom: rem(4);

    @include mq("md") {
        font-size: rem(32);
    }
}

.blog-page-body__contents {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(37);
    }
}

.blog-page-body__contents figure:not(:first-child) {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.blog-page-body__contents figure img {
    width: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 345/231;

    @include mq("md") {
        aspect-ratio: 700/468;
    }
}

.blog-page-body__contents p {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.blog-page-body__contents ul {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
        margin-left: rem(20);
    }
}

.blog-page-body__contents li {
    margin-top: rem(7);
    line-height: 1.5;
    text-indent: rem(-25);
}

.blog-page-body__contents li::before {
    content: "";
    background-image: url(/assets/images/common/hitode-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:rem(-10) center;
    padding-left: rem(30);
}

.blog-page-body__button-area {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.blog-page-body__button-inner {
    margin: auto;
    max-width: rem(334);
    width: 100%;
    grid-gap: 0.75rem;
    display: grid;
    gap: rem(10);
    grid-auto-rows: minmax(2.375rem, auto);
    grid-template-columns: repeat(6, 1fr);
    max-width: 21.5rem;

    @include mq(md){
        max-width: rem(450);
        grid-template-columns: repeat(8, 1fr);
    }
}

.blog-page-body__button-inner a{
    transition: 0.3s ease-in-out;
}

.blog-page-body__button-inner a:hover{
    transition: 0.3s ease-in-out;
    background-color: $green;
    color: $white;
}

.blog-page-body__button-inner.pagenavi__inner--prev-next{
    grid-template-columns: repeat(2, 1fr);
    max-width: rem(230);
}

.blog-page-body__side {
    margin-top: rem(80);

    @include mq("md") {
        margin-top: 0;
    }
}

.blog-page-body__reviews {
    margin-top: rem(80);
}

.blog-page-body__campaign {
    margin-top: rem(80);

    @include mq("md") {
        margin-top: rem(85);
    }
}

.blog-page-body__archive {
    margin-top: rem(80);

    @include mq("md") {
        margin-top: rem(85);
    }
}