@use "global" as *;

.breadcrumb {
    font-size: rem(14);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;
    color: #0D2936;
}


.breadcrumb.breadcrumb--white {
    color: $white;
    margin-top: rem(88);
    @include mq("md") {
        margin-top: rem(98);
    }
}