@use "global" as *;

.breadcrumb {
    font-size: rem(14);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;
    color: #0D2936;
}


.breadcrumb--white {
    color: $white;
}