@use "global" as *;

.campaign-body {
    @include mq("md") {
        
    }
}


.campaign-body__category {
    margin-top: rem(52);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: rem(16);
    column-gap: rem(21);
    place-items: center;

    @include mq("md") {
        margin-top: rem(152);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: rem(32);
        margin-left: 0;
    }
}

.campaign-body__cards {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(40);
    column-gap: rem(40);
    position: relative;
    padding-left: rem(32);
    padding-right: rem(32);

    @include mq("md") {
        grid-template-columns: 1fr 1fr;
        row-gap: rem(80);
        padding-left: 0;
        padding-right: 0;
    }
}


.campaign-body__cards::before {
    background-image: url(/assets/images/common/campaign-fish.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
    position: absolute;
    width: rem(120);
    height: 5%;
    top: -10%;

    @include mq("md") {
        width: rem(300);
        top: -10%;
        height: 12%;
        left: calc(50% - min(48.5vw, 39rem));
    }
}


.campaign-body__pavenavi {
    margin-top: rem(80);
}