@use "global" as *;

.footer-nav {
    color: $white;
    display: flex;
    line-height: 1.125;
    
    justify-content: normal;

    @include mq("md") {
        
        justify-content: space-around;
    }
}

.footer__nav.footer-nav--siteMap {
    color: black;
    margin-top: rem(45);
    @include mq("md") {
        margin-top: rem(143);
    }
}

.footer-nav__left {
    display: block;
    width: 50%;
    column-gap: 20.5%;

    @include mq("md") {
        column-gap: rem(20);
        // column-gap: 20.5%;
        flex-wrap: wrap;
        flex-direction: column;
        height: 15.125rem;
        row-gap: rem(16);
        display: flex;
        width: 48%;
    }
}

.footer-nav__right {
    display: block;
    width: 44%;
    margin-left: rem(10);
    column-gap: 20.5%;
    @include mq("md") {
        // column-gap: rem(48);
        // column-gap: 20.5%;
        column-gap: 0;
        flex-direction: column;
        flex-wrap: wrap;
        height: 15.125rem;
        row-gap: rem(16);
        width: 48%;
        display: flex;
        margin-left: 1%;
    }
}

.footer-nav__right.footer-nav__right--siteMap {
    margin-left: rem(24);

    @include mq("md") {
        column-gap: rem(145);
        column-gap: 10%;
        row-gap: rem(22);
        row-gap: rem(22);
        margin-left: rem(110);
        margin-left: 5%;
    }
}

.footer-nav__head {
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.12;
    position: relative;
    color: $white;
}

.footer-nav__head--siteMap {
    color: black;
}

.footer-nav__head:not(:first-child) {
    margin-top: rem(40);
}

.footer-nav__head::before {
    content: url(/assets/images/common/star-fish.svg);
    transform: scale(1);
    top: rem(6);
    left: rem(-1);
    width: rem(20);
    height: rem(20);
    display: block;
    position: absolute;
}

.footer-nav__head--siteMap::before {
    content: url(/assets/images/common/star-fish-black.svg);
   

}

.footer-nav__list {
    font-weight: $regular;

    @include mq("md") {

    }
}

.footer-nav__head a {
    padding-top: rem(9);
    padding-bottom: rem(9);
    padding-left: rem(24);
    display: inline-block;
    width: 100%;
}
.footer-nav__list a {
    padding-top: rem(13);
    padding-bottom: rem(13);
    display: inline-block;
    width: 100%;
}

.footer-nav__item:nth-child(2),
.footer-nav__item:nth-child(3),
.footer-nav__item:nth-child(4),
.footer-nav__item:nth-child(5),
.footer-nav__item:nth-child(6),
.footer-nav__item:nth-child(7),
.footer-nav__item:nth-child(8),
.footer-nav__item:nth-child(9),
.footer-nav__item:nth-child(10) {
  margin-top: 22px;

  @include mq("md") {
        margin-top: 0;
  }
}


.footer-nav__item a:hover {
    opacity: 0.7;
}

.footer-nav__list a:hover {
    opacity: 0.7;
}


.footer-nav__head--siteMap a {
    padding-left: rem(22);
}

.footer-nav__head--siteMap::before {
    left: rem(0);
}

.footer-nav__list a {
    padding-left: rem(22);
}

// .footer-nav__right.footer-nav__right--siteMap {
    

//     @include mq("md") {
       
//     }
// }

.footer-nav__left.footer-nav__left--siteMap {
    width: 50%;
    column-gap: 63px;

    @include mq("md") {
        // column-gap: 107px;
        column-gap: 10%;
        row-gap: 6%;
    }
}

.footer-nav__left--siteMap {
    position: relative;
}

.footer-nav__left--siteMap::before {
    background-image: url(/assets/images/common/campaign-fish.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 12%;
    left: 0;
    position: absolute;
    top: -4%;
    width: 7.5rem;

    @include mq("md") {
        height: 54%;
        left: calc(50% - min(23vw, 23.875rem));
        top: -52%;
        /* left: -69%; */
        width: 17.5rem;
    }

}