@use "global" as *;

.nav-menu {
    color: $white;
    display: flex;
    line-height: 1.125;
    justify-content: normal;
}

.footer__nav.nav-menu--siteMap {
    color: black;
    margin-top: rem(45);

    @include mq("md") {
        margin-top: rem(143);
    }
}

.nav-menu__left {
    width: 50%;
    display: block;
    column-gap: 20.5%;

    @include mq("md") {
        column-gap: rem(20);
        flex-wrap: wrap;
        flex-direction: column;
        height: 15.125rem;
        row-gap: rem(16);
        display: flex;
        width: 49%;
    }
}

.nav-menu__left.nav-menu__left--gap {
    column-gap: rem(80);
}

.nav-menu__right {
    display: block;
    width: 44%;
    margin-left: rem(11);
    column-gap: 20.5%;

    @include mq("md") {
        column-gap: 19%;
        flex-direction: column;
        flex-wrap: wrap;
        height: 15.125rem;
        row-gap: rem(11);
        width: 45%;
        display: flex;
        margin-left: 2%;
    }
}

.nav-menu__right.nav-menu__right--margin {
    @include mq("md") {
        margin-left: rem(80);
    }
}

.nav-menu__head {
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.12;
    position: relative;
    color: $white;
}

.nav-menu__head.nav-menu__head--color {
    color: black;
}

.nav-menu__head:not(:first-child) {
    margin-top: rem(40);
}

.nav-menu__head::before {
    content: url(/assets/images/common/star-fish.svg);
    transform: scale(1);
    top: rem(10);
    left: rem(2);
    width: rem(20);
    height: rem(20);
    display: block;
    position: absolute;
}

.nav-menu__head--color::before {
    content: url(/assets/images/common/star-fish-black.svg);


}

.nav-menu__list {
    font-weight: $regular;
    font-size: 1rem;

    @include mq("md") {}
}

.nav-menu__head a {
    padding-top: rem(9);
    padding-bottom: rem(9);
    padding-left: rem(24);
    display: inline-block;
    width: 100%;
}

.nav-menu__list a {
    padding-top: rem(12);
    padding-bottom: rem(12);
    display: inline-block;
    width: 100%;
}

.nav-menu__item:nth-child(2),
.nav-menu__item:nth-child(3),
.nav-menu__item:nth-child(4),
.nav-menu__item:nth-child(5),
.nav-menu__item:nth-child(6),
.nav-menu__item:nth-child(7),
.nav-menu__item:nth-child(8),
.nav-menu__item:nth-child(9),
.nav-menu__item:nth-child(10) {
    margin-top: rem(22);

    @include mq("md") {
        margin-top: 0;
    }
}

.nav-menu__right>.nav-menu__item:nth-of-type(2) {
    @include mq("md") {
        margin-top: rem(10);
    }
}

.nav-menu__item a:hover {
    opacity: 0.6;
}

.nav-menu__head--siteMap a {
    padding-left: rem(22);
}

.nav-menu__head--siteMap::before {
    left: rem(0);
}

.nav-menu__list a {
    padding-left: rem(22);
}


.nav-menu__left.nav-menu__left--siteMap {
    width: 50%;
    column-gap: rem(63);

    @include mq("md") {
        column-gap: 15%;
        row-gap: 9%;
    }
}

.nav-menu__left--siteMap {
    position: relative;
}

.nav-menu__left--siteMap::before {
    background-image: url(/assets/images/common/campaign-fish.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 12%;
    left: 0;
    position: absolute;
    top: -4%;
    width: 7.5rem;

    @include mq("md") {
        height: 54%;
        left: calc(50% - min(23vw, 23.875rem));
        top: -52%;
        /* left: -69%; */
        width: 17.5rem;
    }

}