@use "global" as *;

.footer-nav {
    color: $white;
    display: flex;
    line-height: 1.125;
    margin-top: rem(40);
    justify-content: flex-end;

    @include mq("md") {
        margin-top: rem(18);
        justify-content: space-around;
    }
}

.footer-nav__left {
    display: block;
    width: 44%;

    @include mq("md") {
        column-gap: rem(41);
        flex-wrap: wrap;
        flex-direction: column;
        height: 15.125rem;
        row-gap: rem(16);
        display: flex;
        width: 48%;
    }
}

.footer-nav__right {
    display: block;
    width: 44%;
    margin-left: rem(10);
    @include mq("md") {
        column-gap: rem(48);
        flex-direction: column;
        flex-wrap: wrap;
        height: 15.125rem;
        row-gap: rem(16);
        width: 48%;
        display: flex;
    }
}

.footer-nav__item {
    // margin-top: rem(38);

    @include mq("md") {
        // margin-top: rem(40);
    }
}

.footer-nav__item:nth-child(n+3){
    @include mq("md") {
        // margin-left: rem(70);
    }
}

.footer-nav__head {
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.12;
    position: relative;
    color: $white;
}

.footer-nav__head:not(:first-child) {
    margin-top: rem(40);
}

.footer-nav__head::before {
    content: url(/assets/images/common/star-fish.png);
    transform: scale(0.5);
    top: rem(5.5);
    left: rem(-29);
    width: rem(20);
    height: rem(20);
    display: block;
    position: absolute;
}

.footer-nav__list {
    font-weight: $regular;

    @include mq("md") {

    }
}

.footer-nav__head a {
    padding-top: rem(10);
    padding-bottom: rem(10);
    display: inline-block;
    width: 100%;
}
.footer-nav__list a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.footer-nav__item a:hover {
    opacity: 0.7;
}

.footer-nav__list a:hover {
    opacity: 0.7;
}