@use "global" as *;

.js-colorbox {
    position: relative;
    width: 100%;
    height: auto;
}

.js-colorbox__sp {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.js-colorbox img {
    width: 100%;
    height: 100%;
    background-color: $green;
    display: block;
}

.js-color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $green;
}
.js-colorbox img{
}