@use "global" as *;

.pagination {
    display: grid;
    grid-auto-rows: minmax(rem(38), auto);
    grid-template-columns: repeat(6, 1fr);
    // cursor: pointer;
    max-width: rem(344);
    gap: rem(12);

    @include mq("md") {
        grid-template-columns: repeat(8, 1fr);
        max-width: rem(450);
    }
}

.pagination a:hover {
    background-color: $green;
    color: $white;
    transition: 0.3s;
}

.pagination__page {
    color: $green;
    font-family: Lato;
    font-size: rem(16);
    font-style: normal;
    font-weight: $bold;
    margin: auto;
    border: 1px solid $green;
    padding: rem(6) rem(14);
}

.pagination__page--is-active {
    color: $white;
    background-color: $green;
}

.pagination.pagination--blog {
    grid-template-columns: 1fr 1fr;
    gap: rem(32);
    margin-top: rem(36);

    @include mq("md") {
        margin-top: rem(75);
        margin-left: auto;
        margin-right: auto;
    }
}