@use "global" as *;


.table-pc {
    border-collapse: collapse;

    @include mq("md") {}
}

.table-pc__body:not(:first-child) {

    @include mq("md") {
        margin-top: rem(80);

    }
}

.table-pc__category {
    @include mq("md") {
        background-color: $green;
        color: $white;
        height: rem(178);
        vertical-align: baseline;
        width: rem(200);
        text-align: center;
        vertical-align: middle;
        position: relative;
    }
}

.table-pc__head {
    position: absolute;
    top: 40%;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include mq("md") {
        top: 30%;
    }
}

.table-pc__head::before {
    @include mq("md") {
        background-image: url(/assets/images/common/tab-icon-active1.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: inline;
        width: rem(64);
        height: rem(64);
        position: absolute;
        top: 290%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.table-pc__image img {
    width: auto;
}

.table-pc__course {
    border: 1px solid $green;
    background-color: $white;
    position: relative;
    z-index: 1;
    padding: 3px;
    width: clamp(15rem, 12.727rem + 11.36vw, 21.25rem);
    text-align: center;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    color: #0D2936;
    line-height: 1.5;
    padding: rem(7) 0;

    @include mq("md") {
        text-align: left;
        padding-left: rem(15);
        padding-right: rem(15);
        height: rem(60);
    }
}

.table-pc__price {
    border: 1px solid $green;
    border-collapse: collapse;
    padding: 3px;
    width: clamp(6.625rem, 5.352rem + 6.36vw, 10.125rem);
    text-align: right;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    color: #0D2936;
    line-height: 1.5;
    padding-right: rem(6);

    @include mq("md") {
        padding-right: rem(17);
        padding-left: rem(17);
        padding-top: rem(10);
        padding-bottom: rem(10);
    }

}
