@use "global" as *;


.price-item {

    @include mq("md") {
        display: flex;
    }
}

.price-item:not(:first-child) {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.price-item__category {
    background-color: $green;
    color: $white;
    text-align: center;
    padding: rem(8) 0;
    position: relative;
    z-index: 1;

    @include mq("md") {
        width: 28.49%;
        // padding: rem(40);
        height: auto;
        vertical-align: baseline;
    }
}

.price-item__title {
    position: relative;
    padding-left: rem(30);
    display: inline-block;
    font-family: Noto Sans JP;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.5;
    
    @include mq("md") {
        padding-left: 0;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

.price-item__title::before {
    background-image: url(/assets/images/common/tab-icon-active1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 48%;
    left: 0;
    transform: translateY(-50%);
    width: rem(24);
    height: rem(24);
    display: inline;
    // padding-left: rem(24);

    @include mq("md") {
        width: rem(64);
        height: rem(64);
        position: absolute;
        top: 270%;
        left: 50%;
        transform: translate(-50%, -50%);
        // padding-left: 0;
    }
}

.price-item__menu {

    @include mq("md") {
        width: 71.51%;
    }
}

.price-item__image img {
    width: auto;
}

.price-item__menu-wrap {
    display: flex;
}

.price-item__course {
    width: 70%;
    border: 1px solid $green;
    text-align: center;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    color: #0D2936;
    line-height: 1.5;
    min-height: rem(61);
    padding: rem(5);
    margin: 0 0 -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq("md") {
        justify-content: start;
        padding-left: rem(15);
        width: 68%;
    }
}

.price-item__price {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 1px solid $green;
    text-align: right;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    color: #0D2936;
    line-height: 1.5;
    padding-right: rem(13);
    padding-left: rem(13);
    margin: 0 -1px -1px;

    @include mq("md") {
        width: 32%;
    }
}