@use "global" as *;



.side-reviews__wrap {
    margin-top: rem(23);
    margin-left: auto;
    margin-right: auto;
    @include mq("md") {
        margin-top: rem(22);
    }

}

.side-reviews__card {}