@use "global" as *;

.toggle {
    font-weight: normal;
    color: $green;
    font-size: rem(24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: white;
    z-index: 1;
    position: relative;
}

.toggle__year {
    display: block;
    position: relative;
    margin: 0;
    cursor: pointer;
    padding-left: rem(24);
    transition: 0.5s;
}

.toggle__year:hover,
.toggle__month:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.toggle__year::before {
    border-style: solid;
    border-width: 12px 0 12px 16.8px;
    border-color: transparent transparent transparent $green;
    width: rem(24);
    height: rem(24);
    top: rem(5);
    left: rem(0);
    content: "";
    position: absolute;
}

/* クリック時のスタイル */
.toggle__year.open::before {
    border-width: rem(20.8) rem(12) 0 rem(12);
    border-color: $green transparent transparent transparent;
    top: rem(8);
}


.side-archive__wrap {
    margin-top: rem(12);
    width: 40%;
    // margin-left: rem(10);
}

.side-archive__head + * {
    margin-top: rem(25);
   }

.toggle__year--first.open,
.toggle__year--second.open {
    padding-left: rem(30);
}

.toggle__month {
    display: none;
    padding-left: rem(56);
    position: relative;
    line-height: 1.5;
    transition: 0.5s;
}

.toggle__month::before {
    border-style: solid;
    border-width: rem(12) 0 rem(12) rem(16);
    border-color: transparent transparent transparent $green;
    width: rem(24);
    height: rem(24);
    top: rem(5);
    left: rem(30);
    content: "";
    position: absolute;
}
