@use "global" as *;

.top-voice-card {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.top-voice-card a {
    padding: rem(16) rem(14);
    padding-bottom: rem(24);
    display: block;

    @include mq("md") {
        padding: rem(24) rem(20);
    }
}

.top-voice-card a:hover {
    opacity: 0.6;
    transition: 0.3s;
}


.top-voice-card__text {
    font-size: rem(16);
    font-weight: $regular;
    margin-top: rem(12);
    padding-right: rem(1);
    display: flex;
    width: 100%;
    line-height: 1.52;

    @include mq("md") {
        margin-top: rem(36);
        line-height: 1.5;
        max-width: rem(470);
        width: 100%;
    }
}

.top-voice-card__age {
    line-height: 1.2;
}


.top-voice-card__upper {
    display: flex;
    // place-items: flex-end;
    width: 100%;
}

.top-voice-card__info {
    width: 100%;
    font-size: rem(12);
    font-weight: $regular;

    @include mq("md") {
        display: block;
        margin-top: rem(23);
    }
}

.top-voice-card__wrap {
    display: block;


    @include mq("md") {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

.top-voice-card__age {}

.top-voice-card__tag {
    color: $green;
    border: 1px solid $green;
    padding: rem(5) rem(11);
    display: inline-block;
    margin-top: rem(1);

    @include mq("md") {
        padding: rem(6) rem(16);
    }

}

.top-voice-card__sub-title {
    display: inline-block;
    font-size: rem(16);
    font-style: normal;
    font-weight: $normal;
    margin-top: rem(4);
    border-bottom: 1px solid #408F95;

    @include mq("md") {
        font-size: rem(24);
        margin-top: rem(10);
        display: block;
        max-width: rem(264);
        width: 100%;
    }
}

.top-voice-card__image {
    aspect-ratio: 151/117;
    overflow: hidden;
    width: 100%;
    margin-left: rem(13);
    margin-top: rem(8);
    position: relative;
    height: auto;
    position: relative;
    height: auto;
    aspect-ratio: 180/140;
    overflow: hidden;
    
    @include mq("md") {
        aspect-ratio: 180/140;
        margin-top: 0;
        margin-left: rem(16);
        width: 67%;
    }
    
}

.top-voice-card__image img {
    width: 100%;
    height: 100%;
    background-color: $green;
    display: block;
    object-fit: cover;
}