@use "global" as *;

.top-voice-card {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.top-voice-card a {
    padding: rem(24) rem(16);
    display: block;
    // box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

    @include mq("md") {
        padding: rem(21) rem(19);
    }
}

.top-voice-card a:hover {
    opacity: 0.6;
    transition: 0.3s;
}


.top-voice-card__text {
    font-size: rem(16);
    font-weight: $regular;
    margin-top: rem(16);
    display: flex;
    width: 100%;

    @include mq("md") {
        margin-top: rem(40);
        line-height: 1.5;
    }
}

.top-voice-card__age {
    line-height: 1.2;
}


.top-voice-card__upper {
    display: flex;
    // place-items: flex-end;
    width: 100%;
}

.top-voice-card__info {
    width: 100%;
    font-size: rem(12);
    font-weight: $regular;
    border-bottom: 1px solid #408F95;

    @include mq("md") {
        display: block;
    }
}

.top-voice-card__wrap {
    display: block;


    @include mq("md") {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

.top-voice-card__age {}

.top-voice-card__tag {
    color: $green;
    border: 1px solid $green;
    padding: rem(4) rem(12);
    display: inline-block;

    @include mq("md") {
        padding: rem(4) rem(14);
    }

}

.top-voice-card__sub-title {
    display: inline-block;
    font-size: rem(16);

    @include mq("md") {
        font-size: rem(24);
    }
}

.top-voice-card__image {
    aspect-ratio: 151/117;
    overflow: hidden;
    width: 100%;
    margin-left: rem(13);

    @include mq("md") {
        aspect-ratio: 180/140;
        margin-left: rem(16);
        width: 67%;
    }
}