@use "global" as *;


.campaign-card {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    @include mq("md") {
        max-width: rem(334);
    }
}

//Campaign下層ページのカード
.campaign-card.campaign-card--wide {
    // max-width: clamp(17.5rem, 12.045rem + 27.27vw, 32.5rem);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    margin: auto;

    // height: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    @include mq("md") {
        max-width: rem(520);
    }
}

.campaign-card__image {
    aspect-ratio: 280/188;
    // overflow: hidden;
    width: 100%;
    object-fit: cover;

    @include mq("md") {
        aspect-ratio: 334/223;
    }
}

.campaign-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.campaign-card__body {
    padding-top: rem(20);
    padding-bottom: rem(5);
    padding-left: rem(16);
    padding-right: rem(16);
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include mq("md") {
        padding-top: rem(27);

    }
}

.campaign-card__body--wide {
    padding-top: rem(16);

    @include mq("md") {
        padding-top: rem(22);
        padding-left: rem(24);
        padding-right: rem(24);
        padding-bottom: rem(40);

    }
}



.campaign-card__tag {
    border: 1px solid $green;
    display: inline;
    color: $green;
    font-size: rem(12);
    font-weight: $regular;
    padding: rem(3) rem(13);
    line-height: 183.3%;
    align-self: flex-start;

    @include mq("md") {
        padding: rem(6) rem(16);
    }
}

.campaign-card__title {
    font-size: rem(16);
    font-weight: $normal;
    margin-top: rem(7);
    border-bottom: 1px solid $green;
    padding-bottom: rem(8);
    color: $green-text;
    flex-grow: 1;

    @include mq("md") {
        margin-top: rem(0);
        margin-top: rem(13);
    }
}

.campaign-card__title--wide {
    margin-top: rem(5);

    @include mq("md") {
        font-size: rem(24);
        font-style: normal;
        font-weight: $normal;
        line-height: 1;
        margin-top: rem(8);
        padding-bottom: rem(10);
    }
}

.campaign-card__content {
    // padding: rem(8) rem(0);
    padding-top: rem(8);
    text-align: center;
}

.campaign-card__content--wide {
    @include mq("md") {
        padding-top: rem(25);
    }
}

.campaign-card__kinds {
    font-size: rem(14);
    font-weight: $regular;
    color: $green-text;
    line-height: 1.5;
    font-style: normal;

    @include mq("md") {
        font-size: rem(16);
        line-height: 1.5;
    }
}

.campaign-card__price {}

.campaign-card__text--wide {
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: 1.5;
    text-align: left;
}

.campaign-card__info {
    @include mq("md") {
        margin-top: rem(32);
        color: $green;
        font-family: Lato;
        font-style: $normal;
        font-weight: $bold;
    }
}

.campaign-card__date {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: $bold;
}

.campaign-card__subtext {
    font-size: rem(14);
    font-style: normal;
    font-weight: $regular;
}

.campaign-card__button {
    margin-top: rem(16);
}

.campaign-card__button--lowerPage {
    margin-top: rem(13);
}