@use "global" as *;

.voice-body {
    position: relative;
}

.voice-body::after {
    background-image: url(/assets/images/common/campaign-fish.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    width: 7.5rem;
    top: -1.3%;
    left: 4%;
    height: 3%;

    @include mq("md") {
        top: -4.5%;
        height: 8%;
        width: 19.5rem;
        left: 7%;
    }
}

.voice-body__cards {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(39);
    column-gap: rem(40);
    position: relative;

    @include mq("md") {
        grid-template-columns: 1fr 1fr;
        row-gap: rem(80);
    }
}


.voice__cards::before {
    background-image: url(/assets/images/common/campaign-fish.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
    position: absolute;
    width: rem(120);
    height: 5%;
    top: -10%;

    @include mq("md") {
        width: rem(300);
        top: -10%;
        height: 12%;
        left: calc(50% - min(48.5vw, 39rem));
    }
}